@import "tailwindcss";

:root {
  --cor-light-purple: #D8C0E3;
  --cor-dark-purple: #820EB8;
  --cor-text-bg-light: #343434;
  --cor-text-bg-dark: #d1d1d1;
  --cor-menu-g1: #776A7D
  --cor-menu-g2: #474747
}